.Header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky; 
  z-index: 10; 
  top: 0;
  margin: 0;
  padding: 0;
}

.Logo {
  height: 40px;
  pointer-events: none;
}

.App-header {  
  min-width: 100%;
  min-height: 6vh;

  background-color: #040404; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.Logo-container {
  margin-left: 20%;
}

.Button-container{
  margin-right: 20vw;
  display: flex;
  gap: 10%;
  color: white;
}

.Header button {
  width: fit-content;
  min-height: 5%;
  max-height: 30px;
  background: none;
  border: none;
  border-radius: 6px;
  color: #8a54b1;
  cursor: pointer;
  font-size: 20px;
  font-family: monospace;
}

button:hover {
  background-color: white;
  color: #251031;
}